<div class="container">
  <div class="info">
    <!-- phần info -->
    <div class="nameImg">
      <div class="divImg">
        <img [src]="'http://localhost:8080/uploads/'+doctor.userDTO.image" class="doctorImage">
      </div>
      <div class="thongtin">
        <p style="font-weight: bold;">Bác sĩ Chuyên khoa II <span>{{doctor.userDTO.fullName}}</span></p>
        <div>
          <div style="max-width: 400px;text-align: justify;" [innerHTML]="doctor.shortDescription"></div>
        </div>
        <div class="adress">
          <div style="margin-right: 20px;">
            <i style="color: cadetblue;" class="fa fa-map-marker"
              aria-hidden="true"></i><span>{{doctor.userDTO.address}}</span>
          </div>
          <div>
            <button class="button">
              <i style="color: cornflowerblue;" class="fa fa-thumbs-up" aria-hidden="true"></i>
              Like
            </button>
          </div>
        </div>
      </div>

    </div>
    <hr>
    <!-- phần lịch khám -->
    <div>
      <h4 class="mb-3"><i style="color: #7195ac;" class="fa fa-calendar" aria-hidden="true"></i> LỊCH KHÁM BỆNH </h4>
      <label style="padding-top: 30px;" for="dob">Chọn ngày:</label>
      <select name="dates" id="datesSelect"
        style="border-radius: 20px;padding: 6px; background-color: #7fb3d5;border: 0px;outline: none;margin-left: 10px;"
        (change)="getDate($event)">
        <option *ngFor="let date of dates" [value]="date">{{ date }}</option>
      </select>
      <div style="display: flex;max-width: 500px; flex-wrap: wrap;" id="lichKham">
        <div *ngFor="let time of times">
          <button class="btnLichKham" (click)="chonDatLich(time)" value="{{time.timeId}}" type="button"
            data-bs-toggle="modal" data-bs-target="#bookingModal">
            {{ time.time }}
          </button>
        </div>
        <div class="modal-footer">
          <p style="background-color: #4b7793; padding: 10px 20px 10px 20px;border-radius: 20px;color: white;">CHỌN
            VÀO KHUNG GIỜ
            ĐỂ ĐẶT LỊCH
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- PHẦN MÔ TẢ -->
  <div class="description">
    <div class="card mx-0 p-4 mb-5" style="border-color: #17a2b8; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.21);">
      <div class=" resume-content mr-auto">
        <h4 class="mb-3"><i class="fa fa-globe mr-3 text-info"></i> GIỚI THIỆU </h4>
        <div [innerHTML]="doctor.description"></div>
      </div>
      <!-- <div class="resume-date text-md-right">
                    <span class="text-primary">March 2019 - Present</span>
                </div> -->
    </div>
  </div>


  <!-- =================================================================== -->
  <!-- ĐÁNH GIÁ CỦA KHÁCH HÀNG -->
  <!-- =================================================================== -->
  <div class="evaluate">
    <h4 class="mb-3"><i style="color: #7195ac;" class="fa fa-commenting" aria-hidden="true"></i> ĐÁNH GIÁ CỦA BỆNH NHÂN
    </h4>
    <div class="heading-border-light"></div>
    <!-- kiểm tra xem có bình luận không -->
    <div th:if="${#lists.size(user.evaluate) == 0}">
        <p style="font-size: 18px; font-weight: bold;">Chưa có đánh giá nào</p>
    </div>
    <div *ngIf="reviews.length>0">
      <div *ngFor="let review of  reviews">
        <div style="display: flex;margin-bottom: 20px;">
          <img  [src]="'http://localhost:8080/uploads/'+review.user?.image"  style="width: 50px;height: 50px;border-radius: 50%;">
            <div class="comment">
                <!-- <p style="font-weight: bold;margin: 0px 0px 0px 10px;" th:text="${evaluate.fullName}"></p> -->
                <div>
                  <!-- tên -->
                  <span  style="font-weight: bold;margin: 0px 0px 0px 10px;">{{review.user?.fullName}}</span>
                  <!-- icon -->
                  <i style="background-color:transparent;color: #a9cce3;margin-left: 20px;" class="fa fa-check-circle" aria-hidden="true"></i>
                  <span style="color: #b2babb;margin-left: 10px;" >Đã khám vào {{ review.appointment?.date }}</span>
                </div>
                <p style="margin: 0px 0px 0px 10px;">{{review.content}}</p>
                <div style="display: flex;">
                  <p style="margin-left: 10px;color: #bdc7cd;" >{{review.createAt | date: 'yyyy-MM-dd HH:mm'}}</p>
                  <button
                  style="border: 0px;height:10px;color: #6d6d6d;background-color: transparent;margin-left: 10px;"
                  class="reply-button" (click)="showReplyBox(review.reviewsId!,1)">Trả lời</button>
                  <button
                  style="border: 0px;height:10px;color: #6d6d6d;background-color: transparent;margin-left: 10px;"
                  class="reply-button" (click)="getReplyBox(review.reviewsId!)">Xem các câu trả lời</button>
                </div>
                <div class="reply-box" *ngIf="replyVisibility[review.reviewsId!]==true">
                    <textarea
                    style="border-radius: 20px;width: 300px; height:40px;outline: none; border: 1px dashed ;padding-left: 20px;margin-left: 30px;"
                    class="reply-text" id="inputReplies{{review.reviewsId}}" placeholder="Nhập câu trả lời..."></textarea>
                  <div style="margin-left: 30px;">
                    <button (click)="senReplies(review.reviewsId!,review.content,review.start)"
                    style="border-radius: 8px; border: 0px; background-color: #d4e6f1;height: 35px;width: 50px;margin-top:10px;"
                    class="send-reply">Gửi
                    </button>
                    <button (click)="showReplyBox(review.reviewsId!,0)"
                    style="border-radius: 8px; border: 0px; background-color: #d4e6f1;height: 35px;width: 50px;margin-top:10px;margin-left: 10px;"
                    class="send-reply">Hủy</button>
                  </div>
                </div>
                <!-- danh sách các câu trả lời -->
                <div  *ngIf="review.showReplies">
                  <div *ngFor="let reply of review.replies" style="display: flex;margin-top: 20px;">
                    <img [src]="'http://localhost:8080/uploads/'+reply.user!.image"  style="width: 50px;height: 50px;border-radius: 50%;">
                    <div>
                      <!-- tên -->
                      <span  style="font-weight: bold;margin: 0px 0px 0px 10px;">{{reply.user!.fullName}}</span>
                      <p style="margin: 0px 0px 0px 10px;">{{reply.content}}</p>
                      <!-- <button
                      style="border: 0px;height:10px;color: #6d6d6d;background-color: transparent;margin-left: 10px;"
                      class="reply-button" (click)="showReplyBox(review.reviewsId!,1)">Trả lời</button> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
<!-- MODAL ĐẶT LỊCH KHÁM BỆNH -->
<div class="modal fade" id="bookingModal" tabindex="-1" aria-labelledby="bookingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookingModalLabel">BOOKING</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="row my-auto" style="width: 90%;margin-left: 50px;" id="contact">
        <div class="col-md-8" style="width: 100%;">
          <div class="contact-cont">
            <!-- hiển thị thông tin bác sĩ và thông tin ngày khám -->
            <h5>THÔNG TIN ĐẶT LỊCH</h5>
            <div id="infoDatLich">
              <p>Bác sĩ: <span class="infoDoctor">{{doctor.userDTO.fullName}}</span></p>
              <p>Thời gian: <button id="Thoigiankham" class="btnLichKham p-2" value="{{timeId}}">{{thoigiankham}}</button></p>
              <p>Địa chỉ: <span class="btnLichKham p-2">{{doctor.userDTO.address}}</span></p>
            </div>
            <h5>THÔNG TIN BỆNH NHÂN</h5>
            <div class="heading-border-light"></div>
          </div>
          <div class="row con-form" id="ttBenhNhan" style="width: 100%;">
            <div class="col-md-12">
              <input class="inputInfo" type="text" name="full-name" id="fullName" placeholder="Full Name(Bắt buộc)">
            </div>
            <div class="col-md-12">
              <input class="inputInfo" type="text" name="phone-number" id="phoneNumber"
                placeholder="Phone Number(Bắt buộc)">
            </div>
            <div class="col-md-12">
              <input class="inputInfo" type="text" name="email" id="email" placeholder="Email">
            </div>
            <div class="col-md-12">
              <input class="inputInfo" type="text" name="subject" id="addressBN" placeholder="Địa chỉ">
            </div>
            <div class="col-md-12">
              <label style="padding-top: 30px;" for="dob">Ngày tháng năm sinh:</label>
              <input class="inputInfo"
                style="border-radius: 20px;width: 400px;height: 45px; outline: none;padding-left: 30px;background-color: #f4f7f9;display: block;"
                type="date" id="dob" name="dateOfBirth" placeholder="Ngày/tháng/năm sinh">
            </div>
            <div class="col-md-12">
              <textarea class="MotaBenh" id="moTa" placeholder="Mô tả triệu chứng"></textarea></div>
            <div style="width:100px;margin:10px 0px 10px 0px">
              <label for="fileInput" style="
                              display: inline-flex;
                              align-items: center;
                              gap: 8px;
                              padding: 10px 15px;
                              border: 1px solid #ccc;
                              border-radius: 8px;
                              cursor: pointer;
                              font-size: 16px;
                              color: #555;
                              background-color: #f9f9f9;
                              transition: background-color 0.3s, border-color 0.3s;">

                <img src="/image/photo.png" alt="icon" style="width: 24px; height: 24px; margin-right: 8px;">
                Ảnh/video
              </label>
              <div *ngIf="imageUrl">
                <img [src]="imageUrl" style="width: 60px;" id="imagePreview">
              </div>
              <input style="display: none;" type="file" id="fileInput" (change)="previewImage($event)">
            </div>
            <div class="col-md-12 sub-but">
              <button
                style="width:120px;height: 40px; border-radius: 20px;background-color: #a9cce3;outline: none;border: 0px;"
                type="button"  (click)="bookingClick()">ĐẶT LỊCH
              </button>
            </div>
            <p style="margin-top: 10px;color: #e59866;">LƯU Ý</p>
            <p style="color: #edbb99;">Thông tin anh/chị cung cấp sẽ được sử dụng làm hồ sơ khám bệnh, khi
              điền thông tin
              anh/chị vui lòng:</p>
            <p style="color: #edbb99;">Ghi rõ họ và tên, viết hoa những chữ cái đầu tiên, ví dụ: Đặng Thị
              Xuân Mai </p>
            <p style="color: #edbb99;"> Điền đầy đủ, đúng và vui lòng kiểm tra lại thông tin trước khi ấn
              "ĐẶT LỊCH".</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
