<header fragment="header">
  <nav style="background-color: #eaf2f8;" class="navbar navbar-expand-lg navbar-light d-block"
    data-navbar-on-scroll="data-navbar-on-scroll">
    <div class="container"><a class="navbar-brand" href="/public/Home"><img src="assets/public/img/favicon.png"
          width="70" alt="logo" /><span style="margin-left: 20px;font-weight: bold;">ALO DOCTOR</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"> </span></button>
      <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base">
          <li class="nav-item px-2"><a class="nav-link" aria-current="page" href="#about">About Us</a></li>
          <li class="nav-item px-2"><a class="nav-link" href="#departments">DISEASE PREDICTION</a></li>
          <li class="nav-item px-2"><a class="nav-link" href="#findUs">NEWSFEED</a></li>
          <li class="nav-item px-2"><a class="nav-link" href="/user/chat">CHAT</a></li>
          <li class="nav-item px-2"><a class="nav-link" href="#findUs">Contact</a></li>
        </ul><a class="btn btn-sm btn-outline-primary rounded-pill order-1 order-lg-0 ms-lg-4" href="/public/login">Sign
          In</a>
      </div>
    </div>
  </nav>
</header>
