<div *ngIf="getRole()==='DOCTOR'" class="container-fluid py-4">
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers" style="height: 100px;">
                <p class="text-sm mb-0 text-uppercase font-weight-bold">QUẢN LÝ BÀI ĐĂNG</p>
                <p style="font-size: 12px;">Quản lý thông tin bài đăng</p>
                <div>
                  <a [routerLink]="'/admin/post'" class="font-weight-bolder">Xem chi tiết...</a>
                </div>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                <i class="fa fa-file-text" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers" style="height: 100px;">
                <p class="text-sm mb-0 text-uppercase font-weight-bold">QUẢN LÝ LỊCH KHÁM</p>
                <p style="font-size: 12px;">Quản lý thông tin lịch khám</p>
                <div>
                  <a [routerLink]="'/admin/time'" class="font-weight-bolder">Xem chi tiết...</a>
                </div>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                <i class="fa fa-area-chart" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers" style="height: 100px;">
                <p class="text-sm mb-0 text-uppercase font-weight-bold">QUẢN LÝ LỊCH HẸN</p>
                <p style="font-size: 12px;">Quản lý lịch hẹn</p>
                <div>
                  <a [routerLink]="'/admin/appointment'" class="font-weight-bolder">Xem chi tiết...</a>
                </div>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="getRole()==='DOCTOR'" class="row mt-4" style="margin-top: 20px;margin-bottom: 10px;">
  <div class="col-lg-7 mb-lg-0 mb-4">
    <div class="card z-index-2 h-100">
      <div class="card-header pb-0 pt-3 bg-transparent">
        <h6 class="text-capitalize">THỐNG KÊ</h6>
        <p class="text-sm mb-0">
          <i class="fa fa-arrow-up text-success"></i>
          <span class="font-weight-bold">.....</span>
        </p>
      </div>
      <div class="card-body p-3" style="height: 400px;">
        <div *ngIf="appointments!==null" style="width: 600px; height: 400px; margin: auto;">
          <canvas id="appointmentChart"></canvas>
        </div>
        <div *ngIf="appointments===null">
          <p>Chưa có lịch hẹn cho ngày hôm nay</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-5">
    <div class="card card-carousel overflow-hidden h-100 p-0">
      <div id="carouselExampleCaptions" class="carousel slide h-100" data-bs-ride="carousel">
        <img class="doctorimg" src="/assets/public/img/loginImage.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<!-- ADMIN -->
<div *ngIf="getRole()==='ADMIN'" style="height: 700px;">
  <div style="display: flex;">
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4 ">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers" style="height: 100px;">
                <p class="text-sm mb-0 text-uppercase font-weight-bold">QUẢN LÝ BÁC SĨ</p>
                <p style="font-size: 12px;">Quản lý thông tin bác sĩ</p>
                <div>
                  <a [routerLink]="'/admin/doctor'" class="font-weight-bolder">Xem chi tiết...</a>
                </div>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                <i class="fa-solid fa-user-doctor"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4 ms-3">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers" style="height: 100px;">
                <p class="text-sm mb-0 text-uppercase font-weight-bold">QUẢN LÝ NGƯỜI DÙNG</p>
                <p style="font-size: 12px;">Quản lý thông tin người dùng</p>
                <div>
                  <a [routerLink]="'/admin/user'" class="font-weight-bolder">Xem chi tiết...</a>
                </div>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                <i class="fa-solid fa-user"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
