.date{
    border-radius: 20px;
    width: 200px;
    height: 45px;
    outline: none;
    padding: 0px 20px 0px 30px;
    background-color: #f4f7f9;
    display: block;
    border: 1px #a9cce3 solid;
  }
  .btnSearch{
    border-radius: 20px;
    height: 40px;
    width: 80px;
    margin-left: 20px;
    background-color: #1f618d;
    color: white;
    border: 0px;
    margin-right: 200px;
  }
  .nameImg{
    display: flex;
}
.search{
    display: flex; 
    align-items: center;
     padding-right: 20px;
}
.detail{
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #1f618d;
}
.tk{
    margin: 0px;
    color: white;
}
.iconSuccess{
    
    color: cornflowerblue;
}
.iconFailed{
   
    color: chocolate;

}
.iconload{
   color: burlywood;
}
.custom-card{
    height: 100px;
    width: 180px;
    padding: 20px;
    margin-left: 10px;
    background-color: rgba(185, 222, 248, 0.6);
}