<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en-US" dir="ltr">

<!-- <head th:replace="decorators/web/head :: head">
 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

 
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

</head> -->

<body style="padding-left: 0px;">
  <!--    Main Content-->
  <main class="main" id="top">
    <section class="py-5 pb-0" id="home">
      <div class="bg-holder bg-size"
        style="background-image:url(./assets/img/gallery/hero-bg.png);background-position:top center;background-size:cover;">
      </div>
      <!--/.bg-holder-->

      <div class="container">
        <div class="row min-vh-100 min-vh-lg-25">
          <div class="col-md-5 col-xl-6 col-xxl-7 order-md-last text-end">
            <img class="pt-5 pt-md-0 w-100" src="assets/public/img/gallery/hero.png" alt="hero-header" />
          </div>
          <div
            class="col-md-7 col-xl-6 col-xxl-5 text-md-start text-center py-6 d-flex flex-column justify-content-center align-items-center">
            <div>
              <h1 class="fw-light fs-4 fs-lg-3 fs-xl-2">We're <strong>determined</strong> for<br />
                your&nbsp;<strong>better life.</strong>
              </h1>
              <p class="fs-5 mb-4">
                You can get the care you need 24/7 – be it online or in <br /> person. You will be
                treated by caring specialist doctors.
              </p>
              <a class="btn btn-lg btn-primary rounded-pill" href="#!" role="button">ĐẶT LỊCH HẸN NGAY</a>
            </div>
          </div>
        </div>
      </div>
    </section>



    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-5" id="departments">

      <div class="container">
        <div class="row">
          <div class="col-12 py-3">
            <div class="bg-holder bg-size"
              style="background-image:url(public/img/gallery/bg-departments.png);background-position:top center;background-size:contain;">
            </div>
            <!--/.bg-holder-->

            <h1 class="text-center">CHUYÊN KHOA</h1>
          </div>
        </div>
      </div>
      <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->




    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-0">
      <div class="container">
        <div class="row py-5 align-items-center justify-content-center g-4">
          <div class="col-md-2 col-6 icon-box text-center d-flex flex-column align-items-center">
            <a class="text-decoration-none" href="#!">
              <div class="img-container">
                <img class="mb-2 deparment-icon" src="assets/public/img/icons/neurology.png" alt="Neurology" />
                <img class="mb-2 deparment-icon-hover" src="assets/public/img/icons/neurology.svg" alt="Neurology" />
              </div>
              <p class="fs-5">Neurology</p>
            </a>
          </div>

          <div class="col-md-2 col-6 icon-box text-center d-flex flex-column align-items-center">
            <a class="text-decoration-none" href="#!">
              <div class="img-container">
                <img class="mb-2 deparment-icon" src="assets/public/img/icons/eye-care.png" alt="Eye Care" />
                <img class="mb-2 deparment-icon-hover" src="assets/public/img/icons/eye-care.svg" alt="Eye Care" />
              </div>
              <p class="fs-5">Eye Care</p>
            </a>
          </div>
          <div class="col-md-2 col-6 icon-box text-center d-flex flex-column align-items-center">
            <a class="text-decoration-none" href="#!">
              <div class="img-container">
                <img class="mb-2 deparment-icon" src="assets/public/img/icons/cardiac.png" alt="Cardiac Care" />
                <img class="mb-2 deparment-icon-hover" src="assets/public/img/icons/cardiac.svg" alt="Cardiac Care" />
              </div>
              <p class="fs-5">Cardiac Care</p>
            </a>
          </div>

          <div class="col-md-2 col-6 icon-box text-center d-flex flex-column align-items-center">
            <a class="text-decoration-none" href="#!">
              <div class="img-container">
                <img class="mb-2 deparment-icon" src="assets/public/img/icons/heart.png" alt="Heart Care" />
                <img class="mb-2 deparment-icon-hover" src="assets/public/img/icons/heart.svg" alt="Heart Care" />
              </div>
              <p class="fs-5">Heart Care</p>
            </a>
          </div>

          <div class="col-md-2 col-6 icon-box text-center d-flex flex-column align-items-center">
            <a class="text-decoration-none" href="#!">
              <div class="img-container">
                <img class="mb-2 deparment-icon" src="assets/public/img/icons/osteoporosis.png" alt="Osteoporosis" />
                <img class="mb-2 deparment-icon-hover" src="assets/public/img/icons/osteoporosis.svg"
                  alt="Osteoporosis" />
              </div>
              <p class="fs-5">Osteoporosis</p>
            </a>
          </div>

          <div class="col-md-2 col-6 icon-box text-center d-flex flex-column align-items-center">
            <a class="text-decoration-none" href="#!">
              <div class="img-container">
                <img class="mb-2 deparment-icon" src="assets/public/img/icons/ent.png" alt="ENT" />
                <img class="mb-2 deparment-icon-hover" src="assets/public/img/icons/ent.svg" alt="ENT" />
              </div>
              <p class="fs-5">ENT</p>
            </a>
          </div>
        </div>
      </div>
    </section>



    <!-- <section> close ============================-->
    <!-- ============================================-->
    <div class="container mt-6">
      <h3 class="mb-4">Cẩm nang</h3>
      <div id="customCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <!-- Chia danh sách bài viết thành nhóm 4 bài -->
          <div th:each="i : ${#numbers.sequence(0, (listPost.size() - 1) / 4)}" 
               class="carousel-item"
               th:classappend="${i == 0} ? 'active' : ''" >
              <div  class="row justify-content-center" style="text-align: center;height: 350px;">
                  <!-- Hiển thị 4 bài viết trên mỗi slide -->
                  <div  th:each="j : ${#numbers.sequence(i * 4, i * 4 + 3)}"
                       th:if="${j < listPost.size()}"
                       class="col-md-2" style=" border-radius: 20px;margin: 20px;width: 200px;box-shadow: 2px 2px 10px #e5e7e9 ;padding: 0px;">
                      <img src="/uploads/' + ${listPost[j].image}}" alt="Post Image" class="img-fluid"    style="object-fit: cover;height: 150px; width : 210px;border-radius: 15px 15px 0px 0px;text-align: center;">
                      <p style="font-size: 15px; color: grey;margin-top: 5px;">
                        <i class="fa fa-tag" aria-hidden="true"></i> <span th:text="${listPost[j].tag}"></span> &nbsp;
                        <i class="fa fa-calendar" aria-hidden="true"></i> <span th:text="${listPost[j].createAt}"></span>
                      </p>
                      <a  th:text="${listPost[j].title}"  th:href="@{/public/post/{id}(id=${listPost[j].postId})}" style="margin-bottom: 0;text-align: center; color: black;text-decoration: none;display: block;margin-top: 10px;font-weight: bold; cursor: pointer;"></a>
                  </div>
              </div>
          </div>
          <button  class="carousel-control-prev" type="button" data-bs-target="#customCarousel"
          data-bs-slide="prev" style=" z-index: 10; left: -60px;margin-right: -80px;">
          <span class="carousel-control-prev-icon" style="background-color: rgba(0, 0, 0, 0.5); "></span>
      </button>
      
      <button class="carousel-control-next" type="button" data-bs-target="#customCarousel"
          data-bs-slide="next" style="right: -65px; z-index: 10;">
          <span class="carousel-control-next-icon" style="background-color: rgba(0, 0, 0, 0.5);"></span>
      </button>
      </div>
    </div>
    </div>
     <!-- =======================HIỂN THỊ DANH SÁCH BÀI VIẾT=====================-->
    <!-- <section> begin ============================-->
      <section class="pb-0">
        <div class="container">
          <div class="row">
            <div class="col-12 py-3">
              <div class="bg-holder bg-size"
                style="background-image:url(assets/img/gallery/doctors-us.png);background-position:top center;background-size:contain;">
              </div>
              <!--/.bg-holder-->
  
              <h1 class="text-center">OUR POST</h1>
            </div>
          </div>
        </div>
        <!-- end of .container-->
      </section>
        <!-- =====================Phần thân:Hiển thị danh sách bài viết=======================-->
        <section class="py-5 flex justify-content-center">
          <div class="bg-holder bg-size"
            style="background-image:url(assets/public/img/gallery/doctors-bg.png);background-position:top center;background-size:contain;">
          </div>
          <!--/.bg-holder-->
          <div class="container">
            <div class="row justify-content-center ">
              <div class="col-xl-10 px-0 d-flex w-100 justify-content-center">
                <div id="carouselExampleDark2" class="carousel slide" data-bs-interval="false">
                  <div class="carousel-inner " style="width: 1000px;">
                    <!-- Lặp qua danh sách bác sĩ, nhóm 3 bác sĩ vào mỗi item -->
                    <div *ngFor="let group of groupedPost; let i = index" class="carousel-item" [ngClass]="{'active': i === 0}">
                      <div class="row h-100 m-lg-7 mx-3 mt-6 mx-md-4 my-md-7 flex">
                        <!-- Hiển thị 3 bác sĩ trong một slide -->
                        <div *ngFor="let post of group" class="col-md-4 mb-8 mb-md-0">
                          <div class="card card-span h-100 shadow">
                            <ng-container *ngIf="post && post.title">
                            <div class="card-body d-flex flex-column flex-center py-5">
                              <div class="text-center">
                                <img class="imageDoctor" *ngIf="post" 
                                [src]="'http://localhost:8080/uploads/'+post.image" 
                                alt="Doctor Image" />
                              </div>
                              <div style="text-align: center;">
                                <h5 *ngIf="post.title" class="mt-3">{{post.title }}</h5>
                                
                                <p *ngIf="post.like" class="mb-0 fs-xxl-1 mt-3 mb-2">
                                  Lượt thích: <span>{{ post.like }}</span>
                                </p>                        
                              </div>
                                <div class="text-center">
                                  <a *ngIf="post.postId" 
                                     class="btn btn-outline-secondary rounded-pill" 
                                     [routerLink]="'/public/post/' + post.postId">
                                    View Post
                                  </a>
                                </div>                
                            </div>
                          </ng-container>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <!-- Điều khiển chuyển ảnh -->
                  <button class="buttonCarousel" class="carousel-control-prev d-block buttonCarousel" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"><i style="color: #344767;font-weight: bold;" class="fa fa-arrow-left" aria-hidden="true"></i></span>
                    <span style="color: black;">Previous</span>
                  </button>
                  <button class="buttonCarousel" class="carousel-control-next d-block buttonCarousel" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="next">
                    <span style="color: black;">Next</span>
                    <span class="carousel-control-next-icon" aria-hidden="true"><i style="color: #344767; font-weight: bold;" class="fa fa-arrow-right" aria-hidden="true"></i></span>
                  </button>
                </div>
              </div>
            </div>
          </div>      
        </section>
    
    <!-- =======================HIỂN THỊ BỆNH VIỆN=====================-->
    <!-- <section> begin ============================-->
    <!-- <section class="pb-0">
      <div class="container">
        <div class="row">
          <div class="col-12 py-3">
            <div class="bg-holder bg-size"
              style="background-image:url(assets/img/gallery/doctors-us.png);background-position:top center;background-size:contain;">
            </div>
           
            <h1 class="text-center">OUR HOSPITAL</h1>
          </div>
        </div>
      </div>
    </section> -->
       <!-- =====================Phần thân:Hiển thị danh sách bệnh viện=======================-->
      <!-- <section class="py-5 flex justify-content-center">
        <div class="bg-holder bg-size"
          style="background-image:url(assets/public/img/gallery/doctors-bg.png);background-position:top center;background-size:contain;">
        </div>
       
        <div class="container">
          <div class="row justify-content-center ">
            <div class="col-xl-10 px-0 d-flex w-100 justify-content-center">
              <div id="carouselExampleDark" class="carousel slide" data-bs-interval="false">
                <div class="carousel-inner " style="width: 1000px;">
                
                  <div *ngFor="let group of groupedHospital; let i = index" class="carousel-item" [ngClass]="{'active': i === 0}">
                    <div class="row h-100 m-lg-7 mx-3 mt-6 mx-md-4 my-md-7 flex">
                     
                      <div *ngFor="let hospital of group" class="col-md-4 mb-8 mb-md-0">
                        <div class="card card-span h-100 shadow">
                          <ng-container *ngIf="hospital && hospital.hospitalName">
                          <div class="card-body d-flex flex-column flex-center py-5">
                            <div class="text-center">
                              <img class="imageDoctor" *ngIf="hospital" 
                              [src]="'http://localhost:8080/uploads/'+hospital.image" 
                              alt="Doctor Image" />
                            </div>
                            <div style="text-align: center;">
                              <h5 *ngIf="hospital.hospitalName" class="mt-3">{{hospital.hospitalName }}</h5>
                              
                              <p *ngIf="hospital.address" class="mb-0 fs-xxl-1  mt-3 mb-2">
                                Địa chỉ: <span>{{ hospital.address }}</span>
                              </p>                        
                            </div>
                              <div class="text-center">
                                <a *ngIf="hospital.hospitalId" 
                                   class="btn btn-outline-secondary rounded-pill" 
                                   [routerLink]="'/public/hospital/' + hospital.hospitalId">
                                  View Detail
                                </a>
                              </div>
                            
                          </div>
                        </ng-container>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
             
                <button class="buttonCarousel" class="carousel-control-prev d-block buttonCarousel" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"><i style="color: #344767;font-weight: bold;" class="fa fa-arrow-left" aria-hidden="true"></i></span>
                  <span style="color: black;">Previous</span>
                </button>
                <button class="buttonCarousel" class="carousel-control-next d-block buttonCarousel" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                  <span style="color: black;">Next</span>
                  <span class="carousel-control-next-icon" aria-hidden="true"><i style="color: #344767; font-weight: bold;" class="fa fa-arrow-right" aria-hidden="true"></i></span>
                </button>
              </div>
            </div>
          </div>
        </div>      
      </section> -->
  
    <!-- =====================Hiển thị danh sách bác sĩ=======================-->
     <!-- <section> begin ============================-->
    <section class="pb-0">

      <div class="container">
        <div class="row">
          <div class="col-12 py-3">
            <div class="bg-holder bg-size"
              style="background-image:url(assets/img/gallery/doctors-us.png);background-position:top center;background-size:contain;">
            </div>
            <!--/.bg-holder-->

            <h1 class="text-center">OUR DOCTORS</h1>
          </div>
        </div>
      </div>
      <!-- end of .container-->

    </section>
  <!-- =====================Phần thân:Hiển thị danh sách bệnh viện=======================-->
 <section class="py-5 flex justify-content-center">
   <div class="bg-holder bg-size"
     style="background-image:url(assets/public/img/gallery/doctors-bg.png);background-position:top center;background-size:contain;">
   </div>
   <!--/.bg-holder-->
   <div class="container">
     <div class="row justify-content-center ">
       <div class="col-xl-10 px-0 d-flex w-100 justify-content-center">
         <div id="carouselExampleDark1" class="carousel slide" data-bs-interval="false">
           <div class="carousel-inner " style="width: 1000px;">
             <!-- Lặp qua danh sách bác sĩ, nhóm 3 bác sĩ vào mỗi item -->
             <div *ngFor="let group of groupedDoctors; let i = index" class="carousel-item" [ngClass]="{'active': i === 0}">
               <div class="row h-100 m-lg-7 mx-3 mt-6 mx-md-4 my-md-7 flex">
                 <!-- Hiển thị 3 bác sĩ trong một slide -->
                 <div *ngFor="let doctor of group" class="col-md-4 mb-8 mb-md-0">
                   <div class="card card-span h-100 shadow">
                     <ng-container *ngIf="doctor && doctor.userDTO">
                     <div class="card-body d-flex flex-column flex-center py-5">
                       <div class="text-center">
                         <img class="imageDoctor" *ngIf="doctor" 
                         [src]="'http://localhost:8080/uploads/'+doctor.userDTO.image" 
                         alt="Doctor Image" />
                       </div>
                       <div style="text-align: center;">
                         <h5 *ngIf="doctor.userDTO.fullName" class="mt-3">{{ doctor.userDTO.fullName }}</h5>
                         
                         <p *ngIf="doctor.expertise" class="mb-0 fs-xxl-1">
                           Chuyên môn: <span>{{ doctor.expertise }}</span>
                         </p>                        
                         
                         <p *ngIf="doctor.hospital" style="text-align: center;" class="text-600 mb-0">{{ doctor.hospital }}</p>
                         
                         <p *ngIf="doctor.experience" class="text-600 mb-4  mt-3 mb-2">
                           <span>{{ doctor.experience }}</span> years experience
                         </p>
                       
                       </div>
                         <div class="text-center">
                           <a *ngIf="doctor.userDTO.idUser" 
                              class="btn btn-outline-secondary rounded-pill" 
                              [routerLink]="'/public/profile/' + doctor.idDoctor">
                             View Detail
                           </a>
                         </div>
                       
                     </div>
                   </ng-container>
                   </div>
                 </div>
               </div>
             </div>
           </div>
           
           <!-- Điều khiển chuyển ảnh -->
           <button class="buttonCarousel" class="carousel-control-prev d-block buttonCarousel" type="button" data-bs-target="#carouselExampleDark1" data-bs-slide="prev">
             <span class="carousel-control-prev-icon" aria-hidden="true"><i style="color: #344767;font-weight: bold;" class="fa fa-arrow-left" aria-hidden="true"></i></span>
             <span style="color: black;">Previous</span>
           </button>
           <button class="buttonCarousel" class="carousel-control-next d-block buttonCarousel" type="button" data-bs-target="#carouselExampleDark1" data-bs-slide="next">
             <span style="color: black;">Next</span>
             <span class="carousel-control-next-icon" aria-hidden="true"><i style="color: #344767; font-weight: bold;" class="fa fa-arrow-right" aria-hidden="true"></i></span>
           </button>
         </div>
       </div>
     </div>
   </div>      
 </section>

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <!-- <section class="py-5">

      <div class="container">
        <div class="row">
          <div class="col-12 py-3">
            <div class="bg-holder bg-size"
              style="background-image:url(assets/public/gallery/people.png);background-position:top center;background-size:contain;">
            </div>
          

            <h1 class="text-center">APPOINTMENT</h1>
          </div>
        </div>
      </div>
     
    </section> -->
    <!-- <section> close ============================-->
    <!-- ============================================-->

<!-- 
    <section class="py-8">
      <div class="container">
        <div class="row">
          <div class="bg-holder bg-size"
            style="background-image:url(assets/public/img/gallery/dot-bg.png);background-position:bottom right;background-size:auto;">
          </div>
         

          <div class="col-lg-6 z-index-2 mb-5"><img class="w-100" src="assets/public/img/gallery/appointment.png" alt="..." />
          </div>
          <div class="col-lg-6 z-index-2">
            <form class="row g-3">
              <div class="col-md-6">
                <label class="visually-hidden" for="inputName">Name</label>
                <input class="form-control form-livedoc-control" id="inputName" type="text" placeholder="Name" />
              </div>
              <div class="col-md-6">
                <label class="visually-hidden" for="inputPhone">Phone</label>
                <input class="form-control form-livedoc-control" id="inputPhone" type="text" placeholder="Phone" />
              </div>
              <div class="col-md-6">
                <label class="form-label visually-hidden" for="inputCategory">Category</label>
                <select class="form-select" id="inputCategory">
                  <option selected="selected">Category</option>
                  <option> Category One</option>
                  <option> Category Two</option>
                  <option> Category Three</option>
                </select>
              </div>
              <div class="col-md-6">
                <label class="form-label visually-hidden" for="inputEmail">Email</label>
                <input class="form-control form-livedoc-control" id="inputEmail" type="email" placeholder="Email" />
              </div>
              <div class="col-md-12">
                <label class="form-label visually-hidden" for="validationTextarea">Message</label>
                <textarea class="form-control form-livedoc-control" id="validationTextarea" placeholder="Message"
                  style="height: 250px;" required="required"></textarea>
              </div>
              <div class="col-12">
                <div class="d-grid">
                  <button class="btn btn-primary rounded-pill" type="submit">Sign in</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section> -->


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <!-- <section class="py-5">

      <div class="container">
        <div class="row">
          <div class="col-12 py-3">
            <div class="bg-holder bg-size"
              style="background-image:url(assets/public/img/gallery/blog-post.png);background-position:top center;background-size:contain;">
            </div>
            <h1 class="text-center">RECENT BLOGPOSTS</h1>
          </div>
        </div>
      </div>
    </section> -->
    <!-- <section> close ============================-->
    <!-- ============================================-->


    <!-- <section>
      <div class="bg-holder bg-size"
        style="background-image:url(assets/public/gallery/dot-bg.png);background-position:top left;background-size:auto;">
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-lg-3 mb-4">
            <div class="card h-100 shadow card-span rounded-3"><img class="card-img-top rounded-top-3"
                src="assets/public/img/gallery/covid-19.png" alt="news" />
              <div class="card-body"><span class="fs--1 text-primary me-3">Health</span>
                <svg class="bi bi-calendar2 me-2" xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                  fill="currentColor" viewBox="0 0 16 16">
                  <path
                    d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z">
                  </path>
                  <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"> </path>
                </svg><span class="fs--1 text-900">Nov 21, 2021</span><span class="fs--1"></span>
                <h5 class="font-base fs-lg-0 fs-xl-1 my-3">COVID-19: The Most Up-to-Date Information</h5><a
                  class="stretched-link" href="#!">read full article</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3 mb-4">
            <div class="card h-100 shadow card-span rounded-3"><img class="card-img-top rounded-top-3"
              src="/assets/public/img/gallery/laboratories.png" alt="news" />
              <div class="card-body"><span class="fs--1 text-primary me-3">Lifestyle</span>
                <svg class="bi bi-calendar2 me-2" xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                  fill="currentColor" viewBox="0 0 16 16">
                  <path
                    d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z">
                  </path>
                  <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"> </path>
                </svg><span class="fs--1 text-900">Nov 25, 2021</span><span class="fs--1"></span>
                <h5 class="font-base fs-lg-0 fs-xl-1 my-3">Importance of Accreditation for Laboratories</h5><a
                  class="stretched-link" href="#!">read full article</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3 mb-4">
            <div class="card h-100 shadow card-span rounded-3"><img class="card-img-top rounded-top-3"
                src="assets/public/img/gallery/nicotine.png" alt="news" />
              <div class="card-body"><span class="fs--1 text-primary me-3">Health</span>
                <svg class="bi bi-calendar2 me-2" xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                  fill="currentColor" viewBox="0 0 16 16">
                  <path
                    d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z">
                  </path>
                  <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"> </path>
                </svg><span class="fs--1 text-900">Nov 28, 2021</span><span class="fs--1"></span>
                <h5 class="font-base fs-lg-0 fs-xl-1 my-3">The dangers of nicotine are addressed in depth</h5><a
                  class="stretched-link" href="#!">read full article</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3 mb-4">
            <div class="card h-100 shadow card-span rounded-3"><img class="card-img-top rounded-top-3"
                src="assets/public/img/gallery/treatment.png" alt="news" />
              <div class="card-body"><span class="fs--1 text-primary me-3">Health</span>
                <svg class="bi bi-calendar2 me-2" xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                  fill="currentColor" viewBox="0 0 16 16">
                  <path
                    d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z">
                  </path>
                  <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"> </path>
                </svg><span class="fs--1 text-900">Nov 30, 2021</span><span class="fs--1"></span>
                <h5 class="font-base fs-lg-0 fs-xl-1 my-3">Treatment of patients with diabetes during COVID-19</h5><a
                  class="stretched-link" href="#!">read full article</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

  </main>
  <!-- Bootstrap CSS (nếu chưa có) -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap Bundle JS (gồm cả Popper.js) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
