.img-container {
  position: relative;
  width: 80px;  /* Đặt kích thước cố định cho ảnh */
  height: 80px; 
  overflow: hidden; /* Tránh lỗi ảnh bị vỡ layout */
}

.img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Đảm bảo ảnh luôn vừa với container */
  height: 100%;
  object-fit: contain; /* Giữ nguyên kích thước ảnh, không bị méo */
  transition: opacity 0.3s ease-in-out;
}

.img-container img.deparment-icon-hover {
  opacity: 0;
}

.icon-box:hover .img-container img.deparment-icon {
  opacity: 0;
}

.icon-box:hover .img-container img.deparment-icon-hover {
  opacity: 1;
}
/* Định dạng nút chuyển slide */
.buttonCarousel {
  position: absolute;
  position: -80px !important;
  top: 50%;
  transform: translateY(-50%);
  width: 50px; /* Điều chỉnh kích thước nút */
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Nút Previous bên trái */
.carousel-control-prev {
  left: -60px; /* Đẩy ra khỏi item */
}

/* Nút Next bên phải */
.carousel-control-next {
  right: -60px;
}

/* Định dạng biểu tượng mũi tên */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 30px;
  height: 30px;
}
.imageDoctor{
  width:250px;
  height:250px;
  border-radius: 20px; 
  object-fit: cover;
}