.footer{
    width: 100%;
}
.divInfo{
    padding: 30px;
    background-color: #67748e;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
}
.info{
    margin: 20px;
    color: white;
}
.banquyen{
    justify-content: center;
    text-align: center;
}