<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Register Page</title>
  <link rel="stylesheet" th:href="@{/css/Login.css}">
</head>

<body>
  <div class="container">
    <div class="img">
      <img class="doctorimg" src="/assets/public/img/loginImage.jpg" alt="">
    </div>
    <div class="login">
      <h2>Register</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div style="display: flex; gap: 20px;">
          <!-- Cột 1 -->
          <div style="flex: 1;">
            <input class="input" id="expertise" type="text" placeholder="Chuyên môn" formControlName="expertise" />

            <input class="input" id="experience" type="number" placeholder="Kinh nghiệm (năm)"
              formControlName="experience" />

            <input class="input" id="hospital" type="text" placeholder="Bệnh viện" formControlName="hospital" />
            <input class="input" id="fullName" type="text" placeholder="Họ tên" formControlName="fullName" />
            <span *ngIf="loginForm.get('fullName')?.invalid && loginForm.get('fullName')?.touched" class="span">
              Họ tên không được để trống!
            </span>

          </div>

          <!-- Cột 2 -->
          <div style="flex: 1;">
            <input class="input" id="username" type="text" placeholder="Username" formControlName="username" />
            <span *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="span">
              Tên đăng nhập không được để trống!
            </span>

            <input class="input" id="password" type="password" placeholder="Password" formControlName="password" />
            <span *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="span">
              Mật khẩu không được để trống!
            </span>

            <input class="input" id="phoneNumber" type="text" placeholder="Số điện thoại"
              formControlName="phoneNumber" />
            <input class="input" id="address" type="text" placeholder="Địa chỉ" formControlName="address" />
          </div>
        </div>
        <button type="submit" class="button">Đăng kí</button>
      </form>
    </div>
  </div>
</body>

</html>
